/*BEGIN SIDEBAR CODE */
/* toggle voor de menu*/
#small-menu {
  display: none;
  /* 
Menu hiden als het scherm groot genoeg is.
*/
}
/* Alle opmaak Groot scherm*/
@media screen and (min-width: 761px) {
  #nav-bar {
    width: 15%;
    max-width: 150px;
    height: 100%;
    position: fixed;
    right: 0;
    overflow: auto;
    background-color: #086A87;
    border-left: solid #086A87;
  }
  #nav-list {
    position: fixed;
    text-align: center;
    top: 50%;
    margin-top: -100px;
    list-style-type: none;
    width: 15%;
    max-width: 150px;    
  }
}
.nav-link {
  text-align: left;
  display: block;
  color: #F2F5A9;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #F2F5A9;
  color: #086A87;
  text-decoration: none;
}

#header {
  background-color: #086A87;
  color: #F5DA81;
  text-align: center;
  width: 100%;
  z-index: 75;
}
#index-list {
  text-align: center;
}
#head-name {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 100;
  line-height: 44px;
}

section {
}
#white-border {
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
  /*z-index: -1;*/
  background-color: green;
}
.blok {
  border-bottom: solid #086A87;
  padding: 1%;
  padding-right:15%;
  min-height: 200px;
  height: 100%;
  padding-left: 50px;
}
h1 {
    text-align: left;
}

.social-link {
	display: block;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
}
.social-link:hover {
	background-color: #58ACFA;
	color: #086A87;
	text-decoration: none;
	border-radius: 5px;
	padding-top: 5px;
}
#social-bar{
    position: fixed;
    text-align: center;
    top: 90%;
    margin-top: -100px;
    list-style-type: none;	
	z-index: 100;
	
}
#music-sectie{
	background-image: url("music-back-color.png"); 
	background-size:  85% 650px;
	background-repeat: no-repeat;
}


/*Reactive elements*/
@media screen and (max-width: 760px) {
  #nav-bar {
    position: relative;
    display: inline-block;
  }
  #nav-bar ul.active {
    display: none;
  }

.nav-link {
    background-color: #086A87;
    border-radius: 5px;
    background-position: left top;
    background-repeat: repeat;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
  }
.nav-link:hover {
    background-color: #F2F5A9;
    color: #086A87;
    border-radius: 5px;
    background-position: left top;
    background-repeat: repeat;
    
  }
.social-link {
	border-radius: 5px;
	background-color: #086A87;
  }
  #social-bar{
	  	top: 75%;
  }
  #nav-bar {
    width: 100px;
    max-width: 100px;
    position: fixed;
    right: 10px;
    top: 75px;
    overflow: auto;
    z-index: 100;

  }
  #small-menu {
	cursor: pointer;
	text-decoration: none;
    position: fixed;
    padding: 20px;
    right: 0;
    top: 0;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #086A87;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #F2F5A9;;
    font-size: 20px;
    transition: color linear 0.15s;
  }
  #small-menu:hover, #small-menu.active {
    text-decoration: none;
    color: #66a992;
  }
}
/*EINDE SIDEBAR CODE*/
